html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: #333;
  font-family: Arial;
  background-color:#36656B ;
  display: flex;
  position:relative;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0;
  width:100%;
  align-items: center;
  top:0;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #F5F1C4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#title {
    font-family: "Jockey One", sans-serif;
    color: #F5F1C4;
    font-size: 35px;
    padding-bottom: 18px;
}

.dropdown {
  float: none;
  overflow: hidden;
  position: static;
}

.dropdown .dropbtn {
  font-size:16px;
  border: none;
  outline: none;
  color: #F5F1C4;
  padding: 19px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

.dropdown:hover .dropbtn {
  background-color: #36656B;
}

.dropdown-content {
  display: grid;
  grid-template-columns:repeat(2,1fr);
  gap:16px;
  position: absolute;
  background-color: #36656B;
  top:100%;
  left: 0;
  right: 0;
  width:100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  visibility: hidden;
}

.dropdown-content a {
  float: none;
  color: #36656B;
  padding: 20px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}
.dropdown-items {
    background-color: #A5C89E;
    border:0;
    border-radius:15px;
    padding:10px;
    margin:10px;
    font-family: "Jockey One", sans-serif;
    color: #36656B;

}

.dropdown-content a:hover {
  background-color: #A5C89E;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F5F1C4;
  color: #36656B; 
} 

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 100%;
  height: 33%;
  max-width: 320px;
  padding: 20px;
  background-color: #A5C89E;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(148, 52, 111, 0.15);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-box h2 {
  text-align: center;
  margin-top: 0;
  font-family: "Jockey One", sans-serif;
  color: #36656B;
}

input {
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 999px;
  border: 0px solid #36656B;
  background-color: #F5F1C4;
  font-family: "Roboto Slab", serif;
  color: #36656B;
}

input:focus {
  outline: 2px solid #36656B;
}

#submit {
  padding: 10px;
  font-size: 16px;
  border-radius: 999px;
  border: none;
  background-color: #36656B;
  color: #F5F1C4;
  cursor: pointer;
  font-family: "Roboto Slab", serif;
}

button:hover {
  opacity: 0.9;
}

.signup {
  text-align: right;
  font-size: 14px;
  font-family: "Roboto Slab", serif;;
}

.signup p {
  color: #36656B;
  text-decoration: none;
  font-weight: 600;
}

.signup a:hover {
  text-decoration: underline;
}

#footerdiv {
    position: relative;
    bottom:0;
    left:0;
    background-color: #36656B;
    height: 72px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
#contactdetails {
    color: #F5F1C4;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Slab", serif;
}
